header {
    text-align: center;
    background-color: #f1f1f1;
    padding: 30px;
    font-size: 35px;    
}
nav {
    text-align: center;
    background-color: #f1f1f1ce;
    padding: 25px;
    font-size: 20px;
    display: -ms-box;
    font-style: normal;
}
h2{
    font-size: 40px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    margin: 0 30px;
}
a:link, a:visited {
    color: rgb(83, 83, 83);
}
a:hover, a:active {
    color: black;
}
.row {
    display: -webkit-flex;
    display: flex;
}
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 500px;
}
meter {
margin: 0 auto 4.5em;
width: 450px;
height: 50px;
display: block;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.rows {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 40px 10px;
}

.rows .column {
    max-width: 520px; 
    height: auto;
}

.rows form {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.rows input[type="text"],
.rows input[type="email"],
.rows input[type="submit"] {
    font-size: 16px;
    box-sizing: border-box;
}

.rows label {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
}

.rows input[type="text"],
.rows input[type="email"] {
    width: 100%;
}

.rows input[type="submit"] {
    width: auto;
    align-self: center; 
    padding: 8px 20px;
}
.article {
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}
.chips {
    font-size: 30px; 
    font-family: 'Times New Roman', Times, serif;
    text-decoration: overline;
}
a.website:link {color: white;} 
a.website:visited {color: dimgray;}
a.website:hover {color: darkgray;}
a.website:active {color: black;}

.year {
    text-decoration: line-through;
}